name: Simple Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Déployer
        run: |
            git fetch origin main
            git reset --hard origin/main
            echo "Code mis à jour ✔️"